@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
button {
  font-family: "Work Sans", serif;
}
.display-flex {
  display: flex;
}

.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.dark-03 {
  color: #727272;
}

.dark-02 {
  color: #424242;
}

.dark-01 {
  color: #131313;
}

.primary-color {
  color: #ff900e;
}

.btn-primary {
  background-color: #ff900e;
  color: white;
  padding: 20px 25px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1.25rem;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}
main > section {
  margin-top: 80px;
}
/* header styles */

/* navbar related style */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-weight: bold;
  font-size: 2rem;
}

.nav-item {
  list-style: none;
}

.nav-links {
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}

.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

/* banner styles */

.banner-content {
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
}

.banner-title {
  font-weight: bold;
  font-size: 4rem;
}

.banner-img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* team and feature related styles */
.teams {
  align-items: center;
  gap: 40px;
  padding: 0 80px;
}

.team-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features {
  max-width: 537px;
}
.feature-title {
  font-size: 2.8rem;
  margin-bottom: 24px;
}

.feature-des {
  margin-bottom: 32px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams {
    flex-direction: column;
  }

  .team-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams {
    flex-direction: column;
  }
  .our-features {
    max-width: 100%;
  }
}
